body {
    background-color: #1A1D20;
    color: #FFFFFF;
    font-family: "Press Start 2P", system-ui;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

a {
    text-decoration: none;
}

a:hover {
    border-color: #FFCC00;
    color: #FFCC00;
}

.item-lnk {
    background-color: #1A1D20;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.item-scr {
    border: 1px solid #FFFFFF;
}

.replay {
    margin-top: 30px;
}